<style type="text/css">
.logo-list__header {
  text-align: center;
}
.logo-bar {
  text-align: center;
  margin-bottom: 20px;
  margin-top:80px;
}
.logo-bar__item {
  display: inline-block;
  vertical-align: middle;
  max-width: 240px;
  margin: 0 5px 5px;
}
.logo-bar__image {
  display: block;
  margin: 0 auto;
}
.logo-bar__link {
  display: block;
  text-decoration: none;
}
</style>
<div class="logo-list">
  {%- if section.settings.title != blank -%}
    <div class="logo-list__header">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {%- endif -%}
  {%- if section.blocks.size > 0 -%}
    <div class="logo-bar">
      {%- for block in section.blocks -%}
        <div class="logo-bar__item" {{ block.shopify_attributes }}>
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="logo-bar__link">
          {%- endif -%}
          {%- if block.settings.image != blank -%}
            {{ block.settings.image | img_url: '160x160', scale: 2 | img_tag: block.settings.image.alt, 'logo-bar__image' }}
          {%- else -%}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>
{% schema %}
  {
    "name": "Logo list [Logo List]",
    "class": "index-section",
    "max_blocks": 20,
    "settings": [
      {
        "type": "paragraph",
        "content": "Keep update from [Logo List](http://easycodeguide.com/?p=304)"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Logo list"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}